#topfooter {
  width: 2034px;
  height: 298px;
  background-color: #45413e;

  p {
    color: #868380;
  }

  h4 {
    color: #ffffff;
    font-family: Lato;
    font-size: 27px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
  }

  .span4 img {
    margin-right: 10px;
  }
  .span4 .img-left {
    float: left;
  }
}
