#facebookbutton {
  background-color: #ffffff;
  width: 221px;
  height: 55px;
  color: #1e1d22;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border: 3px solid #3a5b96;
  border-radius: 40px;

  i {
    font-size: 17px;
    width: 13px;
    height: 27px;
    color: #3a5b96;
  }

  p {
    color: #3a5b96;
    font-family: Lato;
    font-size: 21px;
    text-transform: uppercase;
  }
}
