#loadmore {
  background-color: #1e1d22;
  width: 221px;
  height: 55px;
  color: #1e1d22;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border: 3px solid #e8e2d6;
  border-radius: 40px;

  p {
    color: #ffffff;
    font-family: Lato;
    font-size: 21px;
  }
}
