#summersales {

  padding-right: 87px;
  h6 {
    height: 23px;
    color: #45413e;
    font-family: Lato;
    font-size: 22px;
  }

  p {
    height: 40px;
    color: #45413e;
    font-size: 20px;
  }
}
