#viewmore {
  width: 221px;
  height: 55px;
  color: #1e1d22;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border: 3px solid #ffffff;
  background-color: transparent;
  opacity: 0.5;
  border-radius: 50px;

  p {
    color: #ffffff;
    font-family: Lato;
    font-size: 21px;
  }
}
