#productdetail {
  h3 {
    color: #45413e;
    font-family: "Lato";
    font-size: 72px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  h3:before,
  h3:after {
    content: "";
    border-top: #1e1d22 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
  }

  h3:after {
    margin: 0 0 0 20px;
  }

  #darkgray {
    width: 229px;
    height: 54px;
    border: 3px solid #e8e2d6;
    background-color: #ffffff;
    border-radius: 300px;
  }

  p {
    color: #45413e;
    font-family: Lato;
    font-size: 21px;
  }

  #increment {
    width: 160px;
    height: 54px;
    border: 3px solid #e8e2d6;
    border-radius: 200px;
    background-color: #ffffff;
  }
}
